src/*.exe
src/andromeda
src/andromedad
src/test_andromeda
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.andromeda

# Compilation and Qt preprocessor part
*.qm
Makefile
andromeda-qt
Andromeda-Qt.app

# Unit-tests
Makefile.test
andromeda-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
